
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto;
    height: 200vh;
  }

  body.login form {
    background-color: #fff;
    width: 300px;
    margin: auto;
    padding: 20px;
  }

  body.register form {
    background-color: #fff;
    width: 400px;
    margin: auto;
    padding: 30px;
  }
   h1{
    margin-bottom: 10px;
    font-size: 32px;
    color: #333;
    text-align: center;
  }


  
  form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  
  
  /* Input fields */
  input[type="text"],
  input[type="email"],
  input[type="password"], 
  input[type="date"],
  input[type="number"],
  input[type="color"],
  input[type="file"],
  input[type="radio"],
  input[type="checkbox"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
  }
  
  /* Checkbox */
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  /* Submit button */
  input[type="submit"] {
    width: 100%;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Register link */
  p {
    text-align: center;
    margin-top: 15px;
    
  }
  
  a {
    color: #007BFF;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
